<h1>Menu</h1>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'New driver', new_driver_path %></li>
  <li><%= link_to 'Call a driver', driver_calls_path, method: :post, data: { confirm: 'Are you want to confirm this call?' } %></li>
</ul>
<hr />
